@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    background-color: hsl(204, 43%, 93%);
    font-family: "Karla", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    border-radius: 12px;
    border: 1px solid wheat;
    box-shadow: 10px 5px 5px hsl(218, 22%, 67%);
    width: 670px;
    margin: 200px auto;
}

.header {
    border-radius: 12px 12px 0 0;
    padding: 20px 50px;
    background-color: #fff;
}


.section__bottom {
    display: flex;
    
}

.bottom__left {
    padding: 20px 50px;
    flex-basis: 50%;
    background-color: hsl(218, 22%, 67%);
    border-radius: 0 0 0 12px ;
}

.bottom__right {
    padding: 20px 50px;
    flex-basis: 50%;
    background-color: hsl(204, 43%, 93%);
    border-radius: 0 0  12px 0;
}

.subtitle {
    color: #f3e6e6;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    
}

.header__title {
    font-size: 24px;
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    margin-bottom: 20px;
}

.header__subtitle {
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
}

.text {
    color: hsl(179, 62%, 43%);
}

.left__prise {
    color: #f3e6e6;
    font-size: 18px;
    margin-bottom: 10px;
}

.left__prise span {
    font-size: 12px;
}

.left__text {
    margin-bottom: 10px;
    font-size: 14px;
    color: #f3e6e6;
}

.left__btn {
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
    background-color: hsl(71, 73%, 54%);
    border: none;
    color: #f3e6e6;
    cursor: pointer;
}

.right__subtitle {
    color: #fff;
    
}